[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This repository prepares the Docker image for using Bugzilla latest build with SQLite as the internal Database.
[access "refs/*"]
	owner = group user/Shameer KC (shameerkc)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Shameer KC (shameerkc)
	label-Verified = -1..+1 group user/Shameer KC (shameerkc)
	push = group user/Shameer KC (shameerkc)
	read = group user/Shameer KC (shameerkc)
	rebase = group user/Shameer KC (shameerkc)
	removeReviewer = group user/Shameer KC (shameerkc)
	submit = group user/Shameer KC (shameerkc)
[access "refs/heads/*"]
	create = group user/Shameer KC (shameerkc)
	push = +force group user/Shameer KC (shameerkc)
	pushMerge = group user/Shameer KC (shameerkc)
	read = group user/Shameer KC (shameerkc)
[access "refs/tags/*"]
	push = group user/Shameer KC (shameerkc)
	push = +force group user/Shameer KC (shameerkc)
